.titlebar{
   color: rgb(252, 252, 252);
   box-shadow: 1px 1px 1px rgb(106, 106, 107), 0 0 15px rgb(255, 255, 255);
   border-radius: 4px;
   padding: 10px;
   background-image: url('https://c4.wallpaperflare.com/wallpaper/473/182/558/black-background-metal-hole-very-small-wallpaper-preview.jpg');
   font-family: Arial;
   text-align: center;
   margin-bottom: 10px;
   margin-left: 20%;
   margin-right: 20%;
   opacity: 10;
}

.form{
    box-shadow: 1px 1px 1px rgb(106, 106, 107), 0 0 15px rgb(255, 255, 255);
    border-radius: 5px;
    background-color: blanchedalmond;
   /* background-image: url('https://c4.wallpaperflare.com/wallpaper/124/246/465/dark-blue-ornament-texture-wallpaper-preview.jpg');*/
   background-image: url('https://c4.wallpaperflare.com/wallpaper/343/397/186/white-fabric-texture-texture-units-hd-wallpaper-preview.jpg');
    margin-left: 22%;
    margin-right: 22%;
    text-align: center;
    opacity: 1;
}

input {
    text-align: center;
    width: 60%;
    margin: 10px;
    height: 25px;
    opacity: 1;
  }

button{
    opacity: 1;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/473/182/558/black-background-metal-hole-very-small-wallpaper-preview.jpg');
    color: white;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.center{
    text-align: center;
    color: aliceblue;
}
select{
    text-align: center;
    width: 61%;
    margin: 10px;
    height: 30px;
    opacity: 1;
    background-color: #FFF;
}
.bg{
    background-color: rgba(10, 10, 10, 0.521);
    margin: 15%;
    opacity: 1;
    text-align: center;
  
}

.bg1{
    background-color: rgba(0, 0, 0, 0.342);
    opacity: 1;
    margin: 8%;
    text-align: center;

}

.link {
    color: #FFF;
    text-decoration: none;
  }
.link:hover {
     color: rgb(110, 164, 235)
  }

  p{
      text-align: center;
      color: rgb(255, 255, 255);
  }

body{
      margin: 0%;
    /*background-image: url('https://c4.wallpaperflare.com/wallpaper/996/683/591/black-background-wood-wallpaper-preview.jpg');*/
    background-image: url('https://c4.wallpaperflare.com/wallpaper/124/246/465/dark-blue-ornament-texture-wallpaper-preview.jpg');
  }

  /* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/65/991/687/minimalism-textured-digital-art-black-wallpaper-preview.jpg');
    border-radius: 4px;
    margin: 5px;
    box-shadow: 1px 1px 1px rgb(106, 106, 107), 0 0 15px rgb(255, 255, 255);

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .pad{
      margin-right: 30%;
  }

  .padr{
      margin-left: 35%;
  }

  .padr1{
    margin-right: 20%;
}
  .menunav {
    overflow: hidden;
    background-image: url('https://c0.wallpaperflare.com/preview/519/264/958/background-cement-concrete-drywall.jpg');
    border-radius: 4px;
    margin: 6px;
    box-shadow: 1px 1px 1px rgb(106, 106, 107), 0 0 15px rgb(255, 255, 255);
    width: 55%;
  }

  .menunav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 0px 55px;
    text-decoration: none;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
  }
  

  .addgift{
      float: right;
      margin-right: 3%;
      width: 35%;
      border-radius: 5px;
  }

.box{
  margin: 5px;
  width : 92%;
  height: 100px;
  font-size: large;
  color: #600808;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-image: url('https://c1.wallpaperflare.com/preview/300/676/863/white-texture-paint.jpg');
}
.box1{
  margin: 5px;
  width : 92%;
  height: 225px;
  font-size: large;
  color: #600808;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-image: url('https://c1.wallpaperflare.com/preview/300/676/863/white-texture-paint.jpg');
}
.ScrollStyle
{
    max-height: 480px;
    overflow-y: scroll;
}

.link1 {
  color: rgb(134, 3, 3);
  text-decoration: none;
}

.link1:hover {
  color: rgb(0, 30, 86)
}

.scroll{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.space{
  padding: 5%;
  margin: 20px;
}
.space1{
  padding: 5%;
  margin: 50px;
}
.product{
  background-image: url("https://c1.wallpaperflare.com/preview/119/900/1011/wall-bricks-baird.jpg");
   border-radius: 10px;
   padding: 5%;
   box-shadow: 1px 1px 1px rgb(106, 106, 107), 0 0 15px rgb(255, 255, 255);
   height: 80%;
   width: 90%;
   color: #051166;
 }
.product1{
  background-image: url("https://c1.wallpaperflare.com/preview/119/900/1011/wall-bricks-baird.jpg");
  border-radius: 10px;
  padding: 15%;
  box-shadow: 1px 1px 1px rgb(106, 106, 107), 0 0 15px rgb(255, 255, 255);
  height: 80%;
  width: 90%;
  color: #051166;
}
 img {
   width: 80%;
   height: 100%;
  border-radius: 10px;
}
body {
  overflow:auto !important;
}
.p1{
  text-align: center;
  color: rgb(0, 17, 147);
}

.cartData{
  width: 48%;
  height: 35px;
  float: left;
  
}

.cart{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/533/463/577/abstract-texture-simple-simple-background-wallpaper-preview.jpg");
  margin: 20px;
}
.giftDet{
  width: 50%;
  float: right;
}

.desc{
  background-color: rgb(255, 255, 255);
  color: #000000;
  width: 50%;
  height: 35px;
  border-radius: 2px;
  text-align: center;
}
